.foods-container {
  display: flex;
  align-items: center;
}

.bites {
  position: relative;
  z-index: 9;

  .bite {
    width: 50px;
    height: 50px;
    background-color: #fff8dc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;

    &.show {
      opacity: 1;
    }
  }

  .bite-1 {
    width: 35px;
    right: -5px;
    top: -15px;
  }
  .bite-2 {
    right: -10px;
    top: 20px;
  }
  .bite-3 {
    width: 30px;
    height: 30px;
    right: -15px;
    top: 60px;
  }
}

.chocolate {
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 100px auto;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  align-content: center;

  .piece {
    width: 40px;
    height: 30px;
    align-self: stretch;
    background-color: #221e1b;
    box-shadow: 0 0 0 3px rgba(57, 50, 45, 0.7);
    position: relative;
  }
}

.beer-glass {
  position: relative;
  .beer {
    width: 100px;
    height: 100px;
    background: #ff00ff;
    border-top: 30px solid #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    z-index: 9;
    margin: 0 auto;
    transition: 0.2s all ease-in;
    -webkit-transition: 0.2s all ease-in;
    -moz-transition: 0.2s all ease-in;
    -ms-transition: 0.2s all ease-in;
    -o-transition: 0.2s all ease-in;

    .foam {
      background: #fff;
      border-radius: 60%;
      top: 0;
      position: absolute;

      &:nth-of-type(1) {
        width: 25px;
        height: 30px;
        transform: translate(-5px, -15px);
        -webkit-transform: translate(-5px, -15px);
        -moz-transform: translate(-5px, -15px);
        -ms-transform: translate(-5px, -15px);
        -o-transform: translate(-5px, -15px);
      }

      &:nth-of-type(2) {
        width: 35px;
        height: 35px;
        transform: translate(15px, -25px);
        -webkit-transform: translate(15px, -25px);
        -moz-transform: translate(15px, -25px);
        -ms-transform: translate(15px, -25px);
        -o-transform: translate(15px, -25px);
      }

      &:nth-of-type(3) {
        width: 50px;
        height: 40px;
        transform: translate(25px, -35px);
        -webkit-transform: translate(25px, -35px);
        -moz-transform: translate(25px, -35px);
        -ms-transform: translate(25px, -35px);
        -o-transform: translate(25px, -35px);
      }

      &:nth-of-type(4) {
        width: 40px;
        height: 40px;
        transform: translate(50px, -20px);
        -webkit-transform: translate(50px, -20px);
        -moz-transform: translate(50px, -20px);
        -ms-transform: translate(50px, -20px);
        -o-transform: translate(50px, -20px);
      }

      &:nth-of-type(5) {
        width: 40px;
        height: 35px;
        transform: translate(70px, -30px);
        -webkit-transform: translate(70px, -30px);
        -moz-transform: translate(70px, -30px);
        -ms-transform: translate(70px, -30px);
        -o-transform: translate(70px, -30px);
      }
    }
  }

  .glass {
    width: 110px;
    height: 105px;
    background: #ece2ca;
    position: relative;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
